In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather-data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-10-12 21:56:33,-23.1203,-134.9692,68.38,64,0,15.64
1,1,Bilibino,RU,2022-10-12 21:56:33,68.0546,166.4372,0.09,95,97,2.89
2,2,Makakilo City,US,2022-10-12 21:56:34,21.3469,-158.0858,84.61,61,100,4.47
3,3,Okhotsk,RU,2022-10-12 21:56:34,59.3833,143.3000,28.87,64,0,11.63
4,4,Cidreira,BR,2022-10-12 21:56:35,-30.1811,-50.2056,61.75,87,90,7.47

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Maximum temperatures
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Create a weights value.
# max_temp = city_data_df["Max Temp"].astype(float) > 0

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"].astype(float)
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute, add in the locations, and add weight.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Humidity
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Create a weights value.
# humidity = city_data_df["Humidity"].astype(float) > 0

# Get the humidity.
humidity = city_data_df["Humidity"].astype(float)

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute, add in the locations, and add weight.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Cloudiness
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Create a weights value.
# clouds = city_data_df["Cloudiness"].astype(float) > 0

# Get the cloudiness.
clouds = city_data_df["Cloudiness"].astype(float)

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute, add in the locations, and add weight.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Wind speed
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Create a weights value.
# wind_speed = city_data_df["Wind Speed"].astype(float) > 0

# Get the wind speed.
wind_speed = city_data_df["Wind Speed"].astype(float)


# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute, add in the locations, and add weight.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind_speed, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Makakilo City,US,2022-10-12 21:56:34,21.3469,-158.0858,84.61,61,100,4.47
23,23,Adrar,MR,2022-10-12 21:56:44,20.5022,-10.0711,88.99,27,90,16.37
26,26,Tsumeb,NaN,2022-10-12 21:56:45,-19.2333,17.7167,76.14,18,84,8.14
33,33,Butaritari,KI,2022-10-12 21:56:48,3.0707,172.7902,82.02,76,58,22.41
37,37,Vaini,TO,2022-10-12 21:56:51,-21.2000,-175.2000,77.16,83,40,4.61
41,41,Georgetown,MY,2022-10-12 21:56:53,5.4112,100.3354,80.89,91,20,5.01
42,42,Cunduacan,MX,2022-10-12 21:56:53,18.0667,-93.1667,87.91,80,100,1.90
48,48,Hithadhoo,MV,2022-10-12 21:57:57,-0.6000,73.0833,79.05,81,95,13.73
53,53,Avarua,CK,2022-10-12 21:53:35,-21.2078,-159.7750,80.65,78,75,17.27
62,62,Atuona,PF,2022-10-12 21:58:03,-9.8000,-139.0333,77.20,78,63,20.38

In [10]:
preferred_cities_df.count()

City_ID       172
City          172
Country       170
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [11]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Makakilo City,US,2022-10-12 21:56:34,21.3469,-158.0858,84.61,61,100,4.47
23,23,Adrar,MR,2022-10-12 21:56:44,20.5022,-10.0711,88.99,27,90,16.37
33,33,Butaritari,KI,2022-10-12 21:56:48,3.0707,172.7902,82.02,76,58,22.41
37,37,Vaini,TO,2022-10-12 21:56:51,-21.2000,-175.2000,77.16,83,40,4.61
41,41,Georgetown,MY,2022-10-12 21:56:53,5.4112,100.3354,80.89,91,20,5.01
...,...,...,...,...,...,...,...,...,...,...
535,535,Sibolga,ID,2022-10-12 22:22:12,1.7427,98.7792,75.06,84,100,3.06
536,536,Mount Isa,AU,2022-10-12 22:22:13,-20.7333,139.5000,83.97,51,0,5.75
538,538,Kieta,PG,2022-10-12 22:22:13,-6.2167,155.6333,82.20,75,87,2.98
539,539,Tual,ID,2022-10-12 22:22:14,-5.6667,132.7500,83.59,73,76,12.46
543,543,Burkburnett,US,2022-10-12 22:22:16,34.0979,-98.5706,87.55,21,0,16.11

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2   Makakilo City      US     84.61  21.3469 -158.0858
23          Adrar      MR     88.99  20.5022  -10.0711
26         Tsumeb     NaN     76.14 -19.2333   17.7167
33     Butaritari      KI     82.02   3.0707  172.7902
37          Vaini      TO     77.16 -21.2000 -175.2000
41     Georgetown      MY     80.89   5.4112  100.3354
42      Cunduacan      MX     87.91  18.0667  -93.1667
48      Hithadhoo      MV     79.05  -0.6000   73.0833
53         Avarua      CK     80.65 -21.2078 -159.7750
62         Atuona      PF     77.20  -9.8000 -139.0333

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head()

             City Country  Max Temp      Lat       Lng Hotel Name
2   Makakilo City      US     84.61  21.3469 -158.0858
23          Adrar      MR     88.99  20.5022  -10.0711
26         Tsumeb     NaN     76.14 -19.2333   17.7167
33     Butaritari      KI     82.02   3.0707  172.7902
37          Vaini      TO     77.16 -21.2000 -175.2000

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]